name: Grab command list

on:
  push:
    paths:
      - '**.lua'
      - '**.yml'
      - '**.py'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.x

    - name: Run extracter
      run: python .github/extract.py
      
    - name: Update file
      continue-on-error: true
      run: |
        git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"
        git pull origin master
        git add 'commands.md'
        git add 'commands.json'
        git commit -m 'Commands update'
        git push origin master
      env:

        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


